In [11]:
import pandas as pd

In [37]:
df = pd.read_csv('athletes.csv',date_format=('%Y-%m-%d'),parse_dates=['dob'])
df.head(100)

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
95,46940649,Adas Juskevicius,LTU,male,1/3/89,1.94,90.0,basketball,0,0,0
96,512592841,Adel Gholami,IRI,male,2/9/86,1.95,88.0,volleyball,0,0,0
97,302277635,Adel Mechaal,ESP,male,12/5/90,1.82,71.0,athletics,0,0,0
98,216864827,Adel Mojallalimoghadam,IRI,male,3/21/93,1.85,82.0,canoe,0,0,0
99,153013732,Adela Bruns,CZE,female,2/5/87,1.71,60.0,shooting,0,0,0

In [38]:
df['dob'] = pd.to_datetime(df['dob'],format='%Y-%m-%d')

C:\Users\amith\AppData\Local\Temp\ipykernel_12100\1262302991.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['dob'] = pd.to_datetime(df['dob'])

In [21]:
type(df.index)

pandas.core.indexes.base.Index

In [18]:
df.iloc[1]

id              532037425
name           A Lam Shin
nationality           KOR
sex                female
dob               9/23/86
height               1.68
weight               56.0
sport             fencing
gold                    0
silver                  0
bronze                  0
Name: 1, dtype: object

In [30]:
df.loc['11/26/90']

,id,name,nationality,sex,height,weight,sport,gold,silver,bronze
dob,,,,,,,,,,
11/26/90,33922579,Aaron Gate,NZL,male,1.81,71.0,cycling,0,0,0
11/26/90,99018195,Isak Ohrstrom,SWE,male,1.77,72.0,canoe,0,0,0

In [32]:
df.loc[df['gold'] > 1]

,id,name,nationality,sex,height,weight,sport,gold,silver,bronze
dob,,,,,,,,,,
10/22/95,840071617,Aisen Chen,CHN,male,1.68,60.0,aquatics,2,0,0
11/18/85,629649792,Allyson Felix,USA,female,1.68,56.0,athletics,2,1,0
5/26/81,261223419,Anthony Ervin,USA,male,1.91,80.0,aquatics,2,0,0
1/31/93,841861773,Bonchan Ku,KOR,male,1.81,84.0,archery,2,0,0
8/16/96,247346852,Caeleb Dressel,USA,male,1.91,86.0,aquatics,2,0,0
1/11/87,552666305,Danuta Kozak,HUN,female,1.68,63.0,canoe,3,0,0
6/28/92,715359899,Elaine Thompson,JAM,female,1.67,57.0,athletics,2,1,0
8/14/86,99788705,Gabriella Szabo,HUN,female,1.70,62.0,canoe,2,0,0
5/13/87,887795017,Hyejin Chang,KOR,female,1.58,50.0,archery,2,0,0
3/23/88,441111357,Jason Kenny,GBR,male,1.78,81.0,cycling,3,0,0
3/17/97,960103057,Katie Ledecky,USA,female,1.83,72.0,aquatics,4,1,0
5/3/89,643664378,Katinka Hosszu,HUN,female,1.75,68.0,aquatics,3,1,0
1/2/89,199243053,Kohei Uchimura,JPN,male,1.62,52.0,gymnastics,2,0,0
4/24/92,371337915,Laura Trott,GBR,female,1.64,56.0,cycling,2,0,0
2/10/97,461914120,Lilly King,USA,female,1.76,70.0,aquatics,2,0,0
10/20/88,736738706,Long Ma,CHN,male,1.75,72.0,table tennis,2,0,0
4/5/93,37020908,Madeline Dirado,USA,female,1.76,64.0,aquatics,2,1,1
9/28/89,282297654,Marcus Gross,GER,male,1.82,85.0,canoe,2,0,0
12/12/93,733043738,Max Rendschmidt,GER,male,1.86,90.0,canoe,2,0,0
1/13/93,93066253,Max Whitlock,GBR,male,1.67,56.0,gymnastics,2,0,1
6/30/85,491565031,Michael Phelps,USA,male,1.94,90.0,aquatics,5,1,0
3/23/83,302433626,Mohamed Farah,GBR,male,1.75,58.0,athletics,2,0,0
4/8/86,102725469,Natalia Ishchenko,RUS,female,1.77,56.0,aquatics,2,0,0
12/7/88,776128059,Nathan Adrian,USA,male,1.99,102.0,aquatics,2,0,2
11/6/87,487583469,Niccolo Campriani,ITA,male,1.77,80.0,shooting,2,0,0
6/20/90,844998028,Ning Ding,CHN,female,1.71,63.0,table tennis,2,0,0
7/2/95,237391684,Ryan Murphy,USA,male,1.91,90.0,aquatics,3,0,0
3/12/88,746518634,Sebastian Brendel,GER,male,1.92,92.0,canoe,2,0,0
3/14/97,770111957,Simone Biles,USA,female,1.45,47.0,gymnastics,4,0,1
8/2/96,973414226,Simone Manuel,USA,female,1.78,72.0,aquatics,2,2,0
9/21/89,501420252,Svetlana Romashina,RUS,female,1.73,55.0,aquatics,2,0,0
8/30/85,562349871,Tianna Bartoletta,USA,female,1.68,58.0,athletics,2,0,0
8/31/91,11288154,Tingmao Shi,CHN,female,1.59,52.0,aquatics,2,0,0
8/21/86,579416064,Usain Bolt,JAM,male,1.96,95.0,athletics,3,0,0
12/20/93,223640307,Yana Egorian,RUS,female,1.75,64.0,fencing,2,0,0

In [35]:
import math

In [ ]:
def NCR(n):
    f = math.factorial()
    return f(n)/(f(2))