In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('pokemon.csv')
df.head(25)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False

In [6]:
df.loc[df['Attack'] >= 150].shape

(29, 13)

In [7]:
df[df['Speed'] <= 10]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
486,438,Bonsly,Rock,NaN,290,50,80,95,10,45,10,4,False
495,446,Munchlax,Normal,NaN,390,135,85,40,40,85,5,4,False
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False

In [11]:
df[df['Sp. Def'] <= 25]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
44,39,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False
97,90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
106,98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
188,174,Igglybuff,Normal,Fairy,210,90,30,15,40,20,15,2,False
209,194,Wooper,Water,Ground,210,55,45,45,25,25,15,2,False
289,266,Silcoon,Bug,NaN,205,50,35,55,25,25,15,3,False
291,268,Cascoon,Bug,NaN,205,50,35,55,25,25,15,3,False
317,293,Whismur,Normal,NaN,240,64,51,23,51,23,28,3,False
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
583,524,Roggenrola,Rock,NaN,280,55,75,85,25,25,15,5,False
732,664,Scatterbug,Bug,NaN,200,38,35,40,27,25,35,6,False

In [24]:
l = ~(df['Legendary'] == True)
l.head(25)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
Name: Legendary, dtype: bool

In [18]:
(df['Legendary'] == True).sum()

65

In [21]:
df.loc[df['Legendary'] == True].sort_values(by='Legendary')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
543,486,Regigigas,Normal,NaN,670,110,160,110,80,110,100,4,True
544,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True
545,487,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,386,DeoxysDefense Forme,Psychic,NaN,600,50,70,160,70,160,90,3,True
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
537,480,Uxie,Psychic,NaN,580,75,75,130,75,130,95,4,True
539,482,Azelf,Psychic,NaN,580,75,125,70,125,70,115,4,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [26]:
m = df.loc[df['Legendary'] == True]
m.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [28]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [40]:
df.loc[(df['Attack'].max())]

#                 176
Name          Togetic
Type 1          Fairy
Type 2         Flying
Total             405
HP                 55
Attack             40
Defense            85
Sp. Atk            80
Sp. Def           105
Speed              40
Generation          2
Legendary       False
Name: 190, dtype: object

In [38]:
df.sort_values(by='Defense',ascending=False).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True

In [43]:
df.sort_values(by=['Defense','Attack'],ascending=[False,True])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,238,Smoochum,Ice,Psychic,305,45,30,15,85,65,65,2,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False

In [44]:
df.loc[(df['Type 1'] == 'Fire') & (df['Type 2'] == 'Flying')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False

In [65]:
df.loc[(df['Type 1'] == 'Poison') | (df['Type 2'] == 'Poison')].iloc[0,1]

'Bulbasaur'

In [51]:
df.loc[df['Type 1'] == 'Ice'].sort_values(by='Defense', ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
522,471,Glaceon,Ice,NaN,525,65,60,110,130,95,65,4,False
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
415,378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
400,365,Walrein,Ice,Water,530,110,80,90,95,90,65,3,False
645,584,Vanilluxe,Ice,NaN,535,71,95,85,110,95,79,5,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
524,473,Mamoswine,Ice,Ground,530,110,130,80,70,60,80,4,False
396,362,Glalie,Ice,NaN,480,80,80,80,80,80,80,3,False
397,362,GlalieMega Glalie,Ice,NaN,580,80,120,80,120,80,100,3,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
675,614,Beartic,Ice,NaN,485,95,110,80,70,80,50,5,False
399,364,Sealeo,Ice,Water,410,90,60,70,75,70,45,3,False
530,478,Froslass,Ice,Ghost,480,70,80,70,80,70,110,4,False
644,583,Vanillish,Ice,NaN,395,51,65,65,80,75,59,5,False
395,361,Snorunt,Ice,NaN,300,50,50,50,50,50,50,3,False
398,363,Spheal,Ice,Water,290,70,40,50,55,50,25,3,False
643,582,Vanillite,Ice,NaN,305,36,50,50,65,60,44,5,False
243,225,Delibird,Ice,Flying,330,45,55,45,65,45,75,2,False
674,613,Cubchoo,Ice,NaN,305,55,70,40,60,40,40,5,False
238,220,Swinub,Ice,Ground,250,50,50,40,30,30,50,2,False
133,124,Jynx,Ice,Psychic,455,65,50,35,115,95,95,1,False
676,615,Cryogonal,Ice,NaN,485,70,50,30,95,135,105,5,False
257,238,Smoochum,Ice,Psychic,305,45,30,15,85,65,65,2,False

In [77]:
value1 = df.loc[df['Legendary'],'Type 1'].value_counts()
value2 = df.loc[df['Legendary'],'Type 2'].value_counts()
result = pd.concat([value1, value2], axis=1)
result

(          count  count
 Psychic    14.0    5.0
 Dragon     12.0    4.0
 Fire        5.0    3.0
 Electric    4.0    1.0
 Water       4.0    1.0
 Rock        4.0    NaN
 Steel       4.0    1.0
 Ground      4.0    1.0
 Grass       3.0    NaN
 Ice         2.0    3.0
 Normal      2.0    NaN
 Ghost       2.0    1.0
 Dark        2.0    1.0
 Flying      2.0   13.0
 Fairy       1.0    2.0
 Fighting    NaN    4.0,
 Type 1
 Psychic     14
 Dragon      12
 Fire         5
 Electric     4
 Water        4
 Rock         4
 Steel        4
 Ground       4
 Grass        3
 Ice          2
 Normal       2
 Ghost        2
 Dark         2
 Flying       2
 Fairy        1
 Name: count, dtype: int64)

In [62]:
df.query("`Type 1` == 'Fire' and `Type 2` =='Flying'")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False